/*.drawArea {
	background-color: black;
}*/

#hangGame	{
	background-color: rgba(0,0,0,0.5);
}
/*
#upright {
	background-color: red;
}

#horizontal {
	background-color: blue;
}

#noose {
	background-color: brown;
}

#head {
	background-color: purple;
}
#body {
	background-color: darkgray;
}

#arms {
	background-color: darkgoldenrod;
}

#legs{
	background-color: cadetblue;
}
*/