<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Stock App</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="container">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/history">History</a></li>
		<li></li>
	</ul>
		 <%= yield %> 
	</div>
</body>
</html>