<div id="container">
	<h1>Good Food Hunting</h1>

	 <% @dishes.each do |dish| %>
	  <p><%= dish.name %></p>
	  <img src="<%= dish.image_url %>" alt="">
	  <a href="/dishes/<%= dish.id %>/edit">Edit</a>

	  <form action="/dishes/<%= dish.id %>/delete" method ="post">
	  	<input type="hidden" name="_method" value="delete">
	  	<button>Delete</button>
	  </form>
	  
	 <% end %> 

	 <a href="/dishes/new" class="new_dish">New Dish</a>
</div>