<div id="container">
	<h1>Good Food Hunting</h1>

	 <% @rows.each do |row| %>
	  <p><%= row['name'] %></p>
	  <img src="<%= row['image_url'] %>" alt="">
	  <a href="/dishes/<%= row['id'] %>/edit">Edit</a>
	  <a href="/dishes/<%= row['id'] %>/delete">Delete</a>
	 <% end %> 

	 <a href="/dishes/new" class="new_dish">New Dish</a>
</div>