<h1><%= @dish.title %></h1>
<!-- Above as HAML  -->
%h1= @dish.title

%div
	%p ssddf


<img src="<%= @dish.image_url %>" alt="">

<%# @dish.tags.each do |tag| %>
	<p><%#= tag.name %></p>
<%# end %>



<%= @dish.tags.pluck(:name).join(', ') %>

<img src="<%= @dish.photo_url %>" alt="">

<!-- .pluck is used for generating the sql to "pluck" name from @dish.tag -->


<style>
	body {
		background-color: tomato;
	}

	img {
		width: 400px;
		height: 300px;
	}

</style>