<div class="header">
	<h2>ONLINE MOVIE DATABASE</h2>
</div>
<!-- <div id="form_box"> -->
	<form id="search_form" action="/movie">
		<label for="">Search for a Film</label>
		<br>
		<input id="input_box" type="text" name="movie_name"> 
		<br>
		<button id="searchBtn">Search</button>
	</form>
<!-- </div> -->
	<div id= "img_div">
		<img id="popcorn_time" src="http://rack.0.mshcdn.com/media/ZgkyMDE0LzA0LzAzLzJhL1BvcGNvcm5fVGltLjc5N2RmLmpwZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/b790913b/80c/Popcorn_Time1.jpg" alt="Popcorn Time!">
	</div>

