<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>OMDB</title>
	<link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC|VT323|Megrim' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
	<ul>
		<li><a class= "navbar" href="/">Home</a></li>
		<li><a class= "navbar" href="/about">About</a></li>
	</ul>
</nav>
	<%= yield %>	
</body>
</html>